// base styles partial, keeping it modular
@use 'base'

// profile card component partial
@use 'profile-card'

// style specific to this project
:root
  @include base.rootSpecs($fontFamily: 'Kumbh Sans')

body
  background: hsl(185, 75%, 39%)
  background-image: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg')
  background-position: right 52vw top -284px, left 45vw top 355px
  background-repeat: no-repeat
  background-size: cover

main
  padding-top: 146px

// I will keep the media queries here because they only style one element
/* Media queries to handle page background image */
@media screen and (min-width: 768px)
  body
    background-position: right 50vw top -414px, left 44vw top 340px
    background-size: 828px, 828px

@media screen and (min-width: 992px)
  body
    background-position: right 48vw top -460px, left 44vw top 340px

@media screen and (min-width: 1200px)
  body
    background-position: right 48vw top -498px, left 46vw top 378px
